/*font-family: 'Inter', sans-serif; */

/*
  1. Posicionamiento
  2. Modelo Caja
  3. Tipografía
  4. Estilos de temas visuales
  5. Otros
*/

:root{
  /*Colors*/
  --background-orange: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  --orange :  #F7931A;
  --soft-orange:#FFE9D5;
  --secondary-blue:#1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black:#201E1C;
  --warm-black-1: #282623;
  --grey: #282623;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

